
$primary-color: #007bff;
$secondary-color: #0056b3;
$danger-color: #dc3545;
$danger-hover-color: #c82333;
$background-color: #f8f9fa;
$border-color: #dee2e6;
$text-color: #333;

body {
  font-family: Arial, sans-serif;
 overflow-x: hidden;
}

.heading-complaints{
  margin-top: 20px;
  text-align: center;
}
.Complaints-Title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  padding: 0 20px;
}

.search-bar {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: -170px;
}

.e_button_complaints {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 25px;
  margin-left: 150px;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: -10px;
  border-radius: 5px;
  margin-top: -14px;
  //align-items: flex-end;
  &:hover {
    background-color: $secondary-color;
  }
}

.complaints_button_style {
  background-color: $primary-color;
  color: white;
  border: none;
  padding: 8px 25px;
  cursor: pointer;
  margin-right: -93px;
  margin-left: 883px;
  font-size: 20px;
  border-radius: 5px;
  align-items: flex-end;
  &:hover {
    background-color: $secondary-color;
  }
}

.complaints-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: 26px;
    margin-right: 8px;
}

.complaints-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%; /* Ensure the cards container takes the full width */
}

.read-more-link a {
  text-decoration: none; /* Remove underline */
  /* Optionally, you can add more styling here */
}

.complaint-card {
  position: relative; // Ensure the card positions its children relative to itself
 // background: $background-color;
  border: 1px solid $border-color;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-top: 25px;
  margin-left: 112px;
  // height: 300px;
  overflow: hidden;
}




.complaint-card .read-more-link {
  cursor: pointer;
}




.complaint-description {
  max-width: 60ch; /* Adjust the value as needed to achieve the desired width */
  white-space: pre-wrap; /* Ensures that whitespace is preserved and text wraps correctly */
  word-wrap: break-word; /* Allows breaking long words */
  overflow-wrap: break-word; /* Same as word-wrap, ensures text wrapping */
}


.complaint-card-content {
  margin-bottom: 10px;
  margin: 25px;
  overflow: hidden;
  strong {
    color: $text-color;
  }
}

.complaint-card-actions {
  position: absolute; // Ensure actions are always positioned correctly
  bottom: 10px; // Adjust to position buttons at the bottom
  right: 10px; // Adjust to position buttons at the right
  display: flex;
  gap: 10px;

  .complaint-card-icons {
    display: flex;
    gap: 10px; // Space between icons
    font-size: 20px;

    a, button {
      z-index: 1; // Ensure the buttons are on top
      background: none;
      border: none;
      cursor: pointer;
      font-size: 14px;
      color: $primary-color;
      &:hover {
        color: $secondary-color;
      }
    }

    .btn-delete-complaints {
      color: $danger-color;
      &:hover {
        color: $danger-hover-color;
      }
    }
  }
}

.fas {
  margin-right: 5px;
}

.complaint-card-content .card-header {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.complaints-list-heading{
  margin-bottom: 3px;
  margin-top: 3px;
  margin-left: -15px;
}

.SearchContainer_complaints{
  display: flex;
  justify-content: center;
  padding: 0 10px;
  margin-bottom: 0px;
  margin-top: 15px;
  width: 97%;
  max-width: 240px;
  margin-left: 1141px;
  padding: 10px;
}
.body{
  overflow: hidden;
}

.switch-button-complaints1{

  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 25px;
  margin-left: 25px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: -34px;

  margin-top: -80px;
  //align-items: flex-end;
  &:hover {
    background-color: $secondary-color;
  }
}




.complaints-table-list {
  display: flex;
    flex-direction: column;
   // align-items: center;
    margin-top: 10px;
    width: 98%;
    margin-left: 5px;
    margin-right: -206px;
}

.complaints-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 15px;
  text-align: left;

  
  
  th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
  }

  thead {
    background-color: #f4f4f4;

    th {
      font-weight: bold;
      text-transform: capitalize;
    }
  }

   tbody {
    tr {
      &:nth-child(even) {
        background-color: #f9f9f9;
      }

      &:hover {
        background-color: #f1f1f1;
      }

      td {
        &.complaint-table-actions {
          
          justify-content: center;
          gap: 10px;

          .btn-edit-complaints, .btn-delete-complaints {
            background: none;
            border: none;
            cursor: pointer;
            font-size: 18px;
            color: #555;

            &:hover {
              color: #000;
            }
          }

          .btn-edit-complaints {
            color: #007bff;

            &:hover {
              color: #0056b3;
            }
          }

          .btn-delete-complaints {
            color: #dc3545;

            &:hover {
              color: #c82333;
            }
          }
        }
      }
    }
  }
}


 //tooltip
 .e_button_complaints {
  position: relative;

  &:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -1.5em;  // Adjust as needed for positioning
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1000;
    pointer-events: none;
    opacity: 0.8;
    font-size: 12px;
  }

  .switch-button-complaints1 {
    position: relative;
  
    &:hover::after {
      content: attr(data-tooltip);
      position: absolute;
      top: -1.5em;  // Adjust as needed for positioning
      left: 50%;
      transform: translateX(-50%);
      background-color: #333;
      color: #fff;
      padding: 5px 10px;
      border-radius: 5px;
      white-space: nowrap;
      z-index: 1000;
      pointer-events: none;
      opacity: 0.8;
      font-size: 12px;
    }
  }
}

.Complaints-count{
  margin-left: 1109px;
    margin-right: -167px;
}
@media (min-width: 1024px){

  .switch-button-complaints1 {
    position: relative;
  
    &:hover::after {
      content: attr(data-tooltip);
      position: absolute;
      top: -1.5em;  // Adjust as needed for positioning
      left: 50%;
      transform: translateX(-50%);
      background-color: #333;
      color: #fff;
      padding: 5px 10px;
      border-radius: 5px;
      white-space: nowrap;
      z-index: 1000;
      pointer-events: none;
      opacity: 0.8;
      font-size: 12px;
    }
  }

.switch-button-complaints2 {
  position: relative;
  display: none;

  &:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -1.5em;  // Adjust as needed for positioning
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1000;
    pointer-events: none;
    opacity: 0.8;
    font-size: 12px;
  }
}
}


@media (min-width: 1025px) and (max-width: 1399px) {

  .Complaints-count{
    margin-left: 925px;
      margin-right: -167px;
  }
  .e_button_complaints {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 25px;
    margin-left: 145px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: -10px;
    border-radius: 5px;
    margin-top: -14px;
}

.switch-button-complaints1 {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 25px;
  margin-left: 15px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: -34px;
  margin-top: -80px;
}
  .complaints_button_style {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 8px 25px;
    cursor: pointer;
    margin-right: -93px;
    margin-left: 719px;
    font-size: 20px;
    border-radius: 5px;
    align-items: flex-end;
    &:hover {
      background-color: $secondary-color;
    }
  }

  .SearchContainer_complaints {
    display: flex;
    justify-content: center;
    padding: 0 10px;
    margin-bottom: 0px;
    margin-top: 15px;
    width: 97%;
    max-width: 240px;
    margin-left: 961px;
    padding: 10px;
}

.complaints-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 15px;
  text-align: left;
}
.complaints-table thead th {
  font-weight: bold;
  text-transform: capitalize;
  width: 0px;
}

td {
  &.complaint-table-actions {
    width: 80px;
    justify-content: center;
    gap: 10px;

    .btn-edit-complaints, .btn-delete-complaints {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 18px;
      color: #555;

      &:hover {
        color: #000;
      }
    }

    .btn-edit-complaints {
      color: #007bff;

      &:hover {
        color: #0056b3;
      }
    }

    .btn-delete-complaints {
      color: #dc3545;

      &:hover {
        color: #c82333;
      }
    }
  }
}
// .complaint-table-actions {
//  // justify-content: center;
//   display: flex;
//   width: 150px;
//   gap: 10px;
// }
}


@media (max-width: 768px) {
  .complaints_button_style {
    padding: 10px 20px;
    font-size: 20px;
  }
 
  .Complaints-count{
    margin-left: 570px;
      margin-right: 0px;
  }

  .complaints-list {
    padding: 0 10px;
    margin-left: -44px;
    width: 109%;
  }

  .complaint-card {
    padding: 15px;
    width: 100%;
    gap: 50px;
    max-width: none;
  }

  .switch-button-complaints1 {
    position: relative;
  
    &:hover::after {
      content: attr(data-tooltip);
      position: absolute;
      top: -1.5em;  // Adjust as needed for positioning
      left: 50%;
      transform: translateX(-50%);
      background-color: #333;
      color: #fff;
      padding: 5px 10px;
      border-radius: 5px;
      white-space: nowrap;
      z-index: 1000;
      pointer-events: none;
      opacity: 0.8;
      font-size: 12px;
    }
  }

  .switch-button-complaints2 {
   // position: relative;
    //display: none;
    margin-left: -100px;
  
    &:hover::after {
      content: attr(data-tooltip);
      position: absolute;
      top: -1.5em;  // Adjust as needed for positioning
      left: 50%;
      transform: translateX(-50%);
      background-color: #333;
      color: #fff;
      padding: 5px 10px;
      border-radius: 5px;
      white-space: nowrap;
      z-index: 1000;
      pointer-events: none;
      opacity: 0.8;
      font-size: 12px;
    }
  }

  .switch-button-complaints{

    background-color: $primary-color;
    color: white;
    border: none;
    padding: 10px 35px;
    margin-left: 23px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    //align-items: flex-end;
    &:hover {
      background-color: $secondary-color;
    }
  }
 
  .e_button_complaints {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 35px;
    margin-left: 25px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
  }
  .complaints_button_style {
    background-color: #007bff;
        color: white;
        border: none;
        padding: 12px 21px;
        cursor: pointer;
        font-size: 20px;
        border-radius: 5px;
        margin-left: 309px;
        margin-right: -30px;
        /* gap: 12px; */
        align-items: flex-end;

    &:hover {
      background-color: $secondary-color;
    }
  }

  .SearchContainer_complaints{
    display: flex;
    justify-content: center;
    padding: 0 10px;
    margin-bottom: 38px;
    margin-top: 15px;
    
    max-width: 256px;
    height: 46px;
    margin-left: 456px;
    padding: 10px;
  }

  .complaints-table{
    margin-top: 30px;
    // width: 100%;
    margin-left: 80px;
    overflow-x: scroll;
  }

  .complaints-list-heading {
    margin-bottom: 10px;
     margin-left: 39px;
     margin-top: 8px;
 }

  .complaints-table-list {
    display: flex;
        flex-direction: column;
        margin-top: 10px;
        width: 105%;
        margin-left: -205px;
        overflow-x: scroll;
}
}

@media (max-width: 576px) {

  .Complaints-count{
    margin-left: 38px;
     
  }
  .heading-complaints {
    margin-top: 20px;
    text-align: center;
    margin-left: 15px;
}
  .flex-grow-1 {
    justify-content: center;
    padding: 0 10px;
    margin-left: 50px;
  }

  .e_button_complaints {
   width: 18%;
        padding: 6px 2px;
        font-size: 20px;
        margin-right: 2px;
        margin-left: 50px;
  }
  .switch-button-complaints{
    display: none;
  }

  .switch-button-complaints2 {
    position: relative;
        background-color: #007bff;
        color: white;
        border: none;
        padding: 7px 23px;
        margin-left: 50px;
        margin-top: 10px;
        cursor: pointer;
        font-size: 20px;
        border-radius: 5px;
    &:hover {
      background-color: $secondary-color;
    }
    
  }

  .switch-button-complaints{

    background-color: $primary-color;
    color: white;
    border: none;
    padding: 5px 24px;
    margin-left: 52px;;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    //align-items: flex-end;
    &:hover {
      background-color: $secondary-color;
    }
  }

  .complaints-list-heading {
       margin-bottom: 10px;
        margin-left: 20px;
        margin-top: 8px;
    }

.complaints_button_style {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 7px 25px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  margin-left: 68px;
  margin-right: -3px;
  margin-top: -41px;
        /* gap: 12px; */
        align-items: flex-end;

    &:hover {
      background-color: $secondary-color;
    }
  }


  .complaints-list {
    padding: 0 6px;
    margin-left: -8px;
    width: 106%;
}

  .search-bar {
    
    max-width: 188px;
    margin-top: -43px;
    margin-left: 182px;
    margin-bottom: -6px;
  }

  .complaint_card_style {
    width: 50%;
    padding: 3px;
    font-size: 15px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .complaint-card {
    padding: 15px;
    width: 90%; /* Ensure the card takes the full width on small screens */
    margin-left: 40px;
    overflow: hidden;
  }

 

  .complaints-table-list  {
    display: flex;
        flex-direction: column;
        margin-top: 10px;
        width: 108%;
        margin-left: -228px;
        margin-right: -197px;
        overflow-x: scroll;
}





}



@media (min-width: 768px) and (max-width: 1024px) {
  .complaint-card {
    padding: 15px;
    width: 95%;
    margin-left: 40px;
    height: 350px;
    overflow: hidden;
  }


   html, body {
    max-width: 100vw; 
 overflow-x: hidden;
   }
}
// Define variables for grid breakpoints
$lg-columns: 12;
$md-columns: 12;
$sm-columns: 12;

// Define mixin for grid columns
@mixin grid-columns($lg, $md, $sm) {
  @media (min-width: 1200px) {
    width: percentage($lg / $lg-columns);
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    width: percentage($md / $md-columns);
  }
  @media (min-width: 576px) and (max-width: 991px) {
    width: percentage($sm / $sm-columns);
  }
}

