.header {
    display: flex;
    justify-content: center; // Horizontally centers the content
    align-items: center; // Vertically centers the content
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #464343;
    background: rgb(208, 209, 215);
    padding: 10px;
    width:100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

 