.News-Title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  
  .TableContainer {
    width: 80%; 
    margin: 3% 18%;
    
    // .card {
    //   border: 1px solid #ccc;
    //   border-radius: 5px;
    //   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    //   padding: 20px;
      
      
    // }
    
    .card-header {
      background-color: #f0f0f0;
      border-bottom: 1px solid #ccc;
      padding: 10px;
      border-radius: 5px 5px 0 0;
      margin-bottom: 10px;
    }
    
    .card-body {
      padding: 0;
    }

    .card-row {
      display: flex;
      flex-wrap: wrap;
      margin: -10px; /* Adjust margin as needed */
    }
    
    .card{
      width: calc(25% - 20px); /* Adjust card width as needed */
      margin: 10px; 
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
    }
    .card-text{
      font-size:18px;
    }
  }